'.text.html':
  'exa-analytics element':
    'prefix': 'exa-analytics'
    'body': """
    <exa-analytics data-bucket="${1:bucket-id}">
    \t${2}
    </exa-analytics>
    """

  'exa-clickthrough element':
    'prefix': 'exa-clickthrough'
    'body': """
    <img is="exa-clickthrough" data-images="${1:https://dizwlgtu4iq45.cloudfront.net/clickthrough/example/coin-01.png,https://dizwlgtu4iq45.cloudfront.net/clickthrough/example/coin-02.png,https://dizwlgtu4iq45.cloudfront.net/clickthrough/example/coin-03.png,https://dizwlgtu4iq45.cloudfront.net/clickthrough/example/coin-04.png,https://dizwlgtu4iq45.cloudfront.net/clickthrough/example/coin-05.png}"/>
    """

  'exa dialog':
    'prefix': 'exa-dialog'
    'body': """
    <exa-dialog id="example-dialog" hidden>
    \t<header class="dialog__header">
    \t\t<h2 class="dialog__title">${1:title}</h2>
    \t\t<button is="exa-cancel-button">
    \t\t\t<span class="screen-reader-content">Close Dialog</span>
    \t\t\t<span aria-hidden="true" role="presentation">x</span>
    \t\t</button>
    \t</header>
    \t<div class="dialog__body">
    \t\t${2}
    \t</div>
    \t<footer class="dialog__footer">
    \t\t<button is="exa-cancel-button">Cancel</button>
    \t\t<button is="exa-confirm-button">Confirm</button>
    \t</footer>
    </exa-dialog>
    <button data-trigger-dialog='example-dialog'>Launch Dialog</button>
    """

  'exa flexbox-grid':
    'prefix': 'exa-grid'
    'body': """
    <div class="grid grid--${1:stacking}">
    \t<div class="column column--3-of-12"><div></div></div>
    \t<div class="column column--9-of-12"><div></div></div>
    </div>
    """

  'exa image loader element':
    'prefix': 'exa-image-loader'
    'body': '<exa-image-loader data-images="${1:https://dizwlgtu4iq45.cloudfront.net/clickthrough/example/coin-01.png,https://dizwlgtu4iq45.cloudfront.net/clickthrough/example/coin-02.png,https://dizwlgtu4iq45.cloudfront.net/clickthrough/example/coin-03.png,https://dizwlgtu4iq45.cloudfront.net/clickthrough/example/coin-04.png,https://dizwlgtu4iq45.cloudfront.net/clickthrough/example/coin-05.png}"></exa-image-loader>'

  'exa html template':
    'prefix': 'exa-page'
    'body': """
    <!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>${1:page}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://dizwlgtu4iq45.cloudfront.net/common/css/common.css" media="all" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://dizwlgtu4iq45.cloudfront.net/elements/elements.css">
      </head>
      <body>
        <main>
          ${2}
        </main>
        <script title="web components polyfill for custom elements" src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.2.0/custom-elements.min.js"></script>
        <script type="text/javascript" src="https://dizwlgtu4iq45.cloudfront.net/common/js/common.js"></script>
      </body>
    </html>
    """
