'.text.html':
  'exa-form':
    'prefix': 'exa-form'
    'body': """
    <form>
    \t<div class="grid grid--fixed">
    \t\t<div class="column--full">
    \t\t\t<input type="email" placeholder="Email Address" name="email"/>
    \t\t</div>
    \t\t<div class="column--half">
    \t\t\t<input type="text" placeholder="First Name" name="firstname"/>
    \t\t</div>
    \t\t<div class="column--half">
    \t\t\t<input type="text" placeholder="Last Name" name="lastname"/>
    \t\t</div>
    \t\t<div class="column--full">
    \t\t\t<input type="text" name="addr1" placeholder="Number, Street, Apt." />
    \t\t</div>
    \t\t<div class="column--fourth">
    \t\t\t<input type="text" name="zip" placeholder="Zip"/>
    \t\t</div>
    \t\t<div class="column--half">
    \t\t\t<input type="text" name="city" placeholder="City"/>
    \t\t</div>
    \t\t<div class="column--fourth">
    \t\t\t<div class="select">
    \t\t\t\t<select>
    \t\t\t\t\t<option>State</option>
    \t\t\t\t\t<option>Two</option>
    \t\t\t\t\t<option>Three</option>
    \t\t\t\t\t<option>Four</option>
    \t\t\t\t</select>
    \t\t\t</div>
    \t\t</div>
    \t\t<div class="column--full">
    \t\t\t<label class="checkbox">
    \t\t\t\t<input type="checkbox"/>
    \t\t\t\t<span>Swear you are not a narc.</span>
    \t\t\t</label>
    \t\t\t<a href="#">Narc policy.</a>
    \t\t</div>
    \t\t<div class="column--full">
    \t\t\t<fieldset>
    \t\t\t\t<legend>Do you like anchovies?</legend>
    \t\t\t\t<label class="radio">
    \t\t\t\t\t<input type="radio" name="chovies"/>
    \t\t\t\t\t<span>Yes</span>
    \t\t\t\t</label>
    \t\t\t\t<label class="radio">
    \t\t\t\t\t<input type="radio" name="chovies"/>
    \t\t\t\t\t<span>No</span>
    \t\t\t\t</label>
    \t\t\t</fieldset>
    \t\t</div>
    \t\t<div class="column--full">
    \t\t\t<textarea></textarea>
    \t\t</div>
    \t\t<div class="column--full">
    \t\t\t<input type="submit" value="Submit"/>
    \t\t</div>
    \t</div>
    </form>
    """

  'exa-select':
    'prefix': 'exa-select'
    'body': """
    <div class="select">
    \t<select>
    \t\t<option>One</option>
    \t\t<option>Two</option>
    \t\t<option>Three</option>
    \t\t<option>Four</option>
    \t</select>
    </div>
    """

  'exa-radio':
    'prefix': 'exa-radio'
    'body': """
    <fieldset>
    \t<legend>${1:Do you like anchovies?}</legend>
    \t<label class="radio">
    \t\t<input type="radio" name="${2:anchovies}"/>
    \t\t<span>Yes</span>
    \t</label>
    \t<label class="radio">
    \t\t<input type="radio" name="${2:anchovies}"/>
    \t\t<span>No</span>
    \t</label>
    </fieldset>
    """
