'.text.html':
  'exa-dialog cdn':
    'prefix': 'exa-dialog-cdn'
    'body': """
    <link rel="stylesheet" type="text/css" href="https://dizwlgtu4iq45.cloudfront.net/dialog/dialog.css" >
    <script type="text/javascript" src="https://dizwlgtu4iq45.cloudfront.net/dialog/dialog.js"></script>
    """

  'exa flexbox-grid cdn':
    'prefix': 'exa-grid-cdn'
    'body': '<link rel="stylesheet" type="text/css" href="https://dizwlgtu4iq45.cloudfront.net/flexbox-grid/flexbox-grid.css">'

  'exa flexbox grid cdn':
    'prefix': 'exa-flexbox-grid-cdn'
    'body': '<link rel="stylesheet" type="text/css" href="https://dizwlgtu4iq45.cloudfront.net/flexbox-grid/flexbox-grid.css">'

  'exa-analytics cdn':
    'prefix': 'exa-analytics-cdn'
    'body': '<script src="https://dizwlgtu4iq45.cloudfront.net/analytics/"></script>'

  'exa-common cdn':
    'prefix': 'exa-common-cdn'
    'body': """
    <link rel="stylesheet" type="text/css" href="https://dizwlgtu4iq45.cloudfront.net/common/css/common.css" >
    <script type="text/javascript" src="https://dizwlgtu4iq45.cloudfront.net/common/js/common.js"></script>
    """

  'exa-clickthrough cdn':
    'prefix': 'exa-clickthrough-cdn'
    'body': '<script src="https://dizwlgtu4iq45.cloudfront.net/clickthrough/clickthrough.element.js"></script>'

  'exa-image-loader cdn':
    'prefix': 'exa-image-loader-cdn'
    'body': '<script src="https://dizwlgtu4iq45.cloudfront.net/exa-image-loader/image-loader.element.js"></script>'

  'exa-elements cdn':
    'prefix': 'exa-elements-cdn'
    'body': '<link rel="stylesheet" type="text/css" href="https://dizwlgtu4iq45.cloudfront.net/elements/elements.css" >'
